[Unit]
Description=Setting good boot entry
ConditionPathExists=/var/lib/bootupd8r-pending
Wants=boot-complete.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/bootupd8r set_boot_entry
ExecStartPost=/usr/bin/rm -f /var/lib/bootupd8r-pending

[Install]
WantedBy=multi-user.target
